* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

.sidebar {
    background-color: rgb(26, 56, 207);
    grid-row: 1 / -1;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.sidebar-header {
    font-size: 1.3rem;
}
.sidebar-entry,
.sidebar-header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.sidebar-pages,
.sidebar-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar-entry > img {
    width: 1em;
}

.sidebar-header > img {
    width: 1.5em;
}
.header {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.312);
}