* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template: 1fr 6fr / 1fr 5fr;
    font-family: Helvetica, sans-serif;
}

.sidebar {
    background-color: rgb(45, 71, 202);
    grid-row: 1 / -1;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 3em;
    font-weight: 600;
}
.sidebar img[src$=".svg"] {
    filter: invert(1);
}
.sidebar-header {
    font-size: 1.3rem;
}
.sidebar-entry,
.sidebar-header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.sidebar-pages,
.sidebar-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar-entry > img {
    width: 1em;
}

.sidebar-header > img {
    width: 1.5em;
}

.header {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.312);
    padding: 10px 70px 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header-top,
.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top {
    font-size: 1.2rem;
}

.header-top *,
.header-bottom * {
    font-size: inherit;
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

label {
    display: flex;
    align-items: center;
}

input[type="search"] {
    width: 40vw;
    border: none;
    background-color: rgba(128, 128, 128, 0.378);
    border-radius: 15px;
    height: 1.5em;
    padding: 0.5em;
}

.header-top img {
    width: 1.3em;
}

img[class="profile-icon"] {
    width: 3em;
}

.header-bottom {
    font-size: 1.5rem;
}
.intro > div:first-child {
    font-size: 0.5em;
    margin-bottom: 3px;
}
.intro > div:last-child {
    font-size: 0.8em;
}
.header-button {
    font-size: 0.7em;
    padding: 0.4em 1.2em;
    border-radius: 6em;
    border: none;
    background-color: rgb(50, 163, 255);
    color: white;
    font-weight: 570;
}

.header-bottom > .right {
    gap: 1.5rem;
}

.dashboard {
    background-color: rgba(175, 181, 196, 0.353);
    display: grid;
    grid-template: 1fr 1fr / 4fr 1fr;
    padding: 2rem 2rem 4rem 1rem;
    gap: 1.3rem;
}

.projects {
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
}

.project-entry-container {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.project-entry,
.announcement-container,
.trending-container {
    background-color: white;
    border-radius: 7px;
    box-shadow: 3px 3px 4px rgba(128, 128, 128, 0.364);
}

.project-entry {
    display: flex;
    gap: 1.3rem;
}

.color-tab {
    flex: 0 0 auto;
    background-color: rgb(235, 81, 47);
    height: 100%;
    width: 7px;
    border-radius: 7px 0 0 7px;
}

.project-entry-content {
    margin: 2rem 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; 
}

.project-entry-content > div:last-child {
    align-self: flex-end;
    display: flex;
    gap: 1.3rem;
}

.project-entry-content > div:last-child > img {
    width: 1.3rem;
}

.project-entry-content > div:first-child > p {
    font-size: 0.8rem;
    margin-top: 3px;
    color: rgba(95, 95, 95, 0.813);
}

.dashboard > div > h2 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
}

.announcement-container {
    --font-color: rgba(95, 95, 95, 0.657);
    padding: 2rem 1.5rem 1rem 1.5rem;
    height: 275px;
    overflow-y: auto;
}

.announcement-entry {
    padding: 0 0.3rem 1rem 0.3rem;
}
.announcement-entry > h4 {
    font-size: 0.8rem;
    margin-bottom: 2px;
}

.announcement-entry > p {
    font-size: 0.7rem;
    color: var(--font-color);
}

.announcement-entry:not(:last-child) {
    border-bottom: 1px solid var(--font-color);
    margin-bottom: 1rem;
}

.trending {
    align-self: end;
}
.trending-container {
    padding: 1rem 1rem;
    display: grid;
    grid-template: repeat(4, 1fr);
    font-size: 0.8rem;
    gap: 0.8em;
    justify-content: space-between;
}

.trending-entry {
    display: flex;
    gap: 0.7em;
    align-items: center;
}

.trending-entry > img {
    width: 3.8em;
}
.trending-entry > div > div:not(.username) {
    color: rgba(95, 95, 95, 0.657);
}